ansible==2.9.6
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
hvac==0.10.0
idna==2.10
Jinja2==2.11.1
jmespath==0.9.5
MarkupSafe==1.1.1
netaddr==0.7.19
packaging==20.4
pbr==5.4.4
pycparser==2.20
pyparsing==2.4.7
python-consul==1.1.0
PyYAML==5.3.1
requests==2.24.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.2
six==1.15.0
urllib3==1.25.11
